@charset "utf-8";
.body {
    background-image: url(../image/HB.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 80px;
}
.body header {
    color: #EBFF00;
    font-family: "华文琥珀";
    font-size: 36px;
    text-align: center;
}
.body header1 {
    margin-top: 50px;
}
